{% extends "cookbook/layout.html" %}
{% load static %}

{% block body %}
  <div id="index-header">
    <h2> Following</h2>
  </div>
  <div class="container-fluid">
    <h3 class="header"> Recipes from followed users </h3>
    <nav aria-label="Page nagivation">
      <ul id="paginate" class="pagination justify-content-end">

      </ul>
    </nav>

    <div id="index-view" class="container" data-profile="following">
      <div id="index-firstrow" class="row" >

      </div>
    </div>

    <h3 class="header"> Cookbooks from followed users </h3>
    <nav aria-label="Page nagivation">
      <ul id="paginate-cookbook" class="pagination justify-content-end">
      </ul>
    </nav>
    <div id="profile-cookbook-view" class="container" data-profile="following">
      <div id="cookbook-firstrow" class="row" >
      </div>
    </div>

  </div>


{% endblock %}

{% block script %}
    <script src="{% static 'cookbook/index.js' %}"></script>
{% endblock %}
