{% extends "cookbook/layout.html" %}
{% load static %}

{% block body %}
{{ recipe.id |json_script:"recipe_id" }}
{{ instructions_list |json_script:"recipe_instructions" }}
{{ ingredients_list |json_script:"recipe_ingredients" }}
{{ comments |json_script:"comments" }}


<div class="container-fluid">
  <h3 class="header"> {{recipe.name}} </h3>
  <div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-description-tab" data-toggle="pill" href="#v-pills-description" role="tab" aria-controls="v-pills-description" aria-selected="true">Description</a>
      <a class="nav-link" id="v-pills-ingredients-tab" data-toggle="pill" href="#v-pills-ingredients" role="tab" aria-controls="v-pills-ingredients" aria-selected="false">Ingredients</a>
      <a class="nav-link" id="v-pills-instructions-tab" data-toggle="pill" href="#v-pills-instructions" role="tab" aria-controls="v-pills-instructions" aria-selected="false">Instructions</a>
      <a class="nav-link" id="v-pills-comments-tab" data-toggle="pill" href="#v-pills-comments" role="tab" aria-controls="v-pills-comments" aria-selected="false">Comments</a>
      {% if owner == 'no' %}
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
      {% else %}
      <a class="nav-link" id="v-pills-edit-tab" data-toggle="pill" href="#v-pills-edit" role="tab" aria-controls="v-pills-edit" aria-selected="false">Edit</a>
      {% endif %}
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-description" role="tabpanel" aria-labelledby="v-pills-description-tab">
        {% if picture == 'none' %}
        This recipe has no picture
        {% else %}
        <img src="{{recipe.picture}}" style="width:300px;height:400px;" alt="...">
        {% endif %}
        <p>{{recipe.description}}</p>
      </div>
      <div class="tab-pane fade" id="v-pills-ingredients" role="tabpanel" aria-labelledby="v-pills-ingredients-tab"></div>
      <div class="tab-pane fade" id="v-pills-instructions" role="tabpanel" aria-labelledby="v-pills-instructions-tab"></div>
      <div class="tab-pane fade" id="v-pills-edit" role="tabpanel" aria-labelledby="v-pills-edit-tab">
        You may edit your recipe here
      </div>
      <div class="tab-pane fade" id="v-pills-comments" role="tabpanel" aria-labelledby="v-pills-comments-tab">

      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        Here are some other recipe made by {{recipe.username}}:

        <nav aria-label="Page nagivation">
          <ul id="paginate" class="pagination justify-content-end">

          </ul>
        </nav>
        <div id="index-view" class="container-fluid" data-profile="{{ recipe.username | default:"0" }}">
          <div id="recipe-firstrow" class="row" >

          </div>
        </div>
      </div>
      </div>


    </div>
    </div>
  </div>




{% endblock %}

{% block script %}
    <script src="{% static 'cookbook/recipe.js' %}"></script>
{% endblock %}
