.carousel-inner p {

}

.header {
  padding-top: 30px;
  text-align: center;
}

.card {
  display: flex;
  width: 18rem;
  margin-bottom: 20px;
}

.card-img-top {
  height: 200px;
}

.center {
  margin-left: 100px;
  margin-right: auto;
  width: 50%;

}

.body {
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 40px;
}
